* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.cabecalho {
  background-color: #333;
  color: #fff;
  margin-bottom: 1em;
}

.titulo__pagina {
  font-size: 2em;
  padding: 2rem;
  font-weight: 500;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.titulo__tabela {
  font-size: 2.5em;
  display: block;
  text-shadow: 2px 2px 2px #444;
  border-bottom: 1px solid rgb(109, 109, 109);
  margin-bottom: 1rem;
}

.filtro__legenda {
  font-size: 1.12rem;
  color: rgb(24, 24, 24);
  letter-spacing: 1px;
}

#filtra-paciente {
  width: 50%;
  height: 50px;
  margin: 1rem;
  outline: none;
  border: 1px solid #555;
  border-radius: 3px;
}

#filtra-paciente:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #444;
}

table {
  width: 100%;
  margin-bottom: 0.5em;
  table-layout: fixed;
}

td,
th {
  padding: 0.7em;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #eee;
}

#buscar-pacientes {
}

#erro-ajax {
  color: red;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}

.fadeOut {
  opacity: 0;
  transition: all 500ms linear;
}

label {
  color: #555;
  display: block;
  margin-bottom: 0.2em;
}

.campo {
  margin: 0;
  padding-bottom: 1em;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.7em;
  width: 100%;
}

.campo-medio {
  display: inline-block;
  padding-right: 0.5em;
}

.grupo {
  width: 32%;
  display: inline-block;
  padding: 10px 0px;
}

button {
  padding: 1em 1.5em;
  border: none;
  margin: 1rem 0;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
  background-color: #0069e0;

  border-radius: 3px;
  width: 40%;
  display: block;
}

button:hover {
  background-color: #005888;
  transition: all 500ms;
}

.campo-invalido {
  border: 1px solid red;
}

.paciente-invalido {
  background-color: lightcoral;
}

#mensagens-erro {
  color: red;
  font-size: 1.1rem;
}

.invisivel {
  display: none;
}
